@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
html, body {height: 100%}
body{background:#fff}
#__nuxt {height: 100%;overflow: auto}
body,th,td,input,select,textarea,button{font-size:14px;font-family:'맑은 고딕','Malgun Gothic',dotum,sans-serif;color:#676767}
table{border-collapse:collapse}
a{color:#676767;text-decoration:none}
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
legend{position:absolute;left:-9999px;top:0}
caption{overflow:hidden;width:0;height:0;font-size:0;line-height:0}
.blind{display:block;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;border:0;background:0;font-size:0;line-height:0}
.bold{font-weight:bold}
.skip_menu a{position:absolute;top:-50px;left:50%;margin-left:-70px;z-index:10000;padding:5px;background-color:white;color:black;font-size:12px;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.skip_menu a:focus{top:17px}
#dimmed{display:none;position:fixed;width:100%;height:100%;z-index:1000;background-color:#000;opacity:.3;filter:alpha(opacity=30);top:0;left:0;margin:0;padding:0}
.hide{display:none}
.show{display:block}
.clear{clear:both}

/* *** beta style *** */
.beta-wrap {width: 1024px; margin: 0 auto;height:100%;padding-bottom: 140px}
.beta-wrap:after {display: block;clear: both;content: '';}
.beta-header .is-main {width: 1024px;margin: 0 auto;padding: 35px 0;border-bottom: 1px solid #ecf0f3;}
.beta-header:after {clear: both;display: block;content: ''}
.beta-header .title {float: left;width: 160px}
.beta-nav {float: left;width: 223px;padding: 70px 0 0 20px;}
.beta-header h1 {margin-left: 35px;}
.beta-header h2 {float: left;padding:9px 0 0 32px;font-size: 28px;color: #333;font-weight: normal;}
.beta-header .title img {width: 160px;height: 36px;margin-top: 5px;}
.beta-nav .title img {width: 160px;height: 36px;}
.sub-menu {padding-top: 35px;}
.sub-menu li {font-size: 16px;line-height: 2.3;}
.sub-menu li > ul {margin-left: 20px}
.sub-menu li a {color: #333;}


.page-enter-active, .page-leave-active {
  transition: all .3s ease;
}

.page-enter, .page-leave-to
{
  opacity: 0;
}
